<p>เราได้ทำการสร้างชื่อผู้ใช้งานให้กับท่านเป็นที่เรียบร้อยแล้ว ท่านสามารถเข้าสู่ระบบได้โดยใช้้</p>

<p>e-mail = <%= @resource.email %></p>

<p>ท่านสามารถเข้าไปยังหน้าจอกิจกรรมได้ที่  <a href="http://reunion.tbwathailand.com">http://reunion.tbwathailand.com</a> (design for mobile)
หรือเข้าไปคุยกับเพื่อน ๆ ผ่านทาง facebook ได้ที่  <a href="http://www.facebook.com/tbwathailand">http://www.facebook.com/tbwathailand</a></p>
